body {
  background:#dddccc;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
img {
  width: 100%;
  vertical-align: top;
}
a {
  font-size: 0.8rem;
}
.presentacion {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.usuario {
  background:#f8f9fa;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 49.5%;
  margin: 3px 0;
}
.foto {
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
  width: 170px;
}
.datos {
  flex: 1;
}
.botones {
  width: 110px;
}
button {
  padding: 0.75em 1em;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 98px;
  margin: 4px;
  cursor: pointer;
}
.rojo {
  background-color:red;
  border: 1px solid red;
  color: white;
}
.verde {
  background-color:green;
  border: 1px solid green;
  color: white;
}
.rojo:hover {
  background-color:white;
  color: red;
}
.verde:hover {
  background-color:white;
  color: green;
}

.usuarios {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  margin-top: 12px;
}

.nombreUsuarios {
  font-size: 1.04em;
  margin-top: 8px;
}